// Colores
$color-marino:#3A506B;
$color-celestito:#5DBFBD;
$color-rosaclaro:#F4D7CC;
$color-azulclaro:#71A9C3;
$color-blanco:#FFF;
$color-negro:#000;
$color-limon:#F7FE72;
$color-azulbebe:#88DBFC;
$color-violeta:#AD95C6;
$color-plata:#A3A3A3;