/* BLOG.HTML */
section.blog-section{
    padding: 0 10em;
    background-color: $color-violeta;
    h2{
        color: $color-rosaclaro;
        font-family: $tipografiaprincipal;
        font-size: nth($font-size,5);
        text-align: center;
        padding: 1em 0;
    }
    .contenedor-flex{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        
        .contenido-blog{
            background-color: $color-celestito;
            width: 70%;
            height: 100%;
            padding: 2em 2em;
            margin: 2em 0;
            border-radius: 4em;
            display: grid;
            justify-items: center;
            a{
                @extend %style-link;
                p{
                    text-align: center;
                    color: $color-limon;
                    font-family: $tipografiasecundaria;
                    font-size: nth($font-size,3);
                    padding: 1em 0;
                    span{
                        font-family: $tipografiaterciaria;
                    }
                }
            }
            img, iframe{
                width: 400px;
                border: 5px solid $color-rosaclaro;
                border-radius: 3em;
            }
        }
    }
    @media only screen and (min-width: 425px) and (max-width: 1024px){
        padding: 0;
        .contenedor-flex{
            .contenido-blog{
                img, iframe{
                    width: 300px;
                }
            }
        }
    }
    @media only screen and (max-width: 424px){
        padding: 0;
        h2{
            font-size: nth($font-size, 4);
        }
        .contenedor-flex{
            .contenido-blog{
                img, iframe{
                    width: 150px;
                }
            }
        }
    }
}
/* BLOG.HTML */