/* PAGINA404.HTML */
section.section-404{
    background: #2c3e50; /* fallback for old browsers */
    background: linear-gradient(to left,rgba(76, 162, 175, 0.589),rgba(44, 62, 80, 0.596)),url(../img/background-header-2.jpg); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    text-align: center;
    h1{
        color: $color-rosaclaro;
        font-size: nth($font-size,8);
        font-family: $tipografiaprincipal;
        padding: 1.5em 0 .5em 0;
    }
    img{
        width: 270px;
    }
    .contenedor-404{
        width: 100%;
        height: 300px;
        display: grid;
        grid-template-columns: 50% 50%;
        justify-content: center;
        align-items: center;
        .div-parrafo-inicio{
            p{
                font-size: nth($font-size,4);
                font-family: $tipografiasecundaria;
                color: $color-blanco;
                margin: 0 0 1em 0;
            }
            a{
                @extend %style-link;
                color: $color-limon;
                font-size: nth($font-size,5);
                font-family: $tipografiaterciaria;
                    &:hover {
                        background-color: $color-limon;
                        color: $color-marino;
                        border-radius: 1em;
                        padding: .1em;
                    }
                
            }
        }
        .elecciones-404{
            p{
                font-size: nth($font-size,4);
                font-family: $tipografiasecundaria;
                color: $color-blanco;
                margin: 0 0 10px 0;
                a{
                    @extend %style-link;
                    color: $color-limon;
                    font-size: nth($font-size,2);
                    font-family: $tipografiaterciaria;
                        &:hover {
                            background-color: $color-limon;
                            color: $color-marino;
                            border-radius: 1em;
                            padding: .1em;
                        }
                    
                }
            }
        }
    }

    @media only screen and (min-width: 425px) and (max-width: 1024px){
        padding: 0;
        h1{
            font-size: nth($font-size,5);
        }
        img{
            width: 150px;
        }
        .contenedor-404{
            grid-template-columns: 100%;
            .div-parrafo-inicio{
                p{
                    font-size: nth($font-size,3);
                    margin: 0;
                    br{
                        display: none;
                    }
                }
                a{
                    font-size: nth($font-size,4);
                        &:hover {
                            background-color: $color-limon;
                            color: $color-marino;
                            border-radius: 1em;
                            padding: .1em;
                        }
                    
                }
            }
            .elecciones-404{
                p{
                    font-size: nth($font-size,3);
                    margin: 0;
                    a{
                        font-size: nth($font-size,3);
                    }
                }
            }

        }
    }

    @media only screen and (max-width: 424px){
        padding: 0;
        h1{
            font-size: nth($font-size,4);
        }
        img{
            width: 150px;
        }
        .contenedor-404{
            grid-template-columns: 100%;
            .div-parrafo-inicio{
                p{
                    font-size: nth($font-size,4);
                    margin: 0;
                    br{
                        display: none;
                    }
                }
                a{
                    font-size: nth($font-size,3);
                        &:hover {
                            background-color: $color-limon;
                            color: $color-marino;
                            border-radius: 1em;
                            padding: .1em;
                        }
                    
                }
            }
            .elecciones-404{
                p{
                    font-size: nth($font-size,3);
                    margin: 0;
                    a{
                        font-size: nth($font-size,3);
                    }
                }
            }

        }
    }

}

/* PAGINA404.HTML */